Flask==3.0.2
pandas==2.2.0
pyarrow==15.0.0
requests==2.32.3
numpy==1.26.4
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
apscheduler==3.10.4
python-dotenv==1.0.1
taipy==3.1.1
pandas==2.2.0
django==5.0.7
django-plotly-dash==2.3.1
dash==2.9.3
django-tables2==2.7.0

